<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moon+Dance&family=Prompt:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTO</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Custom Styles */
        .bg-main-background {
            background-color: #0f0e17;
        }

        .text-headline {
            color: #33272a;
        }

        .text-paragraph {
            color: #594a4e;
        }

        .bg-button {
            background-color: #ff8ba7;
        }

        .text-button {
            color: #33272a;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translate3d(0, 20px, 0);
            }

            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        .fade-in-up {
            animation: fadeInUp 1s ease-out;
            transition: margin-top 1s ease-out;
        }

        .text-paragraph.transition-out {
        transition: margin-bottom 1s ease-out;
        }
           
    </style>
</head>

<body style="font-family: 'Moon Dance', cursive;
font-family: 'Prompt', sans-serif;" class="bg-main-background font-sans leading-normal tracking-normal min-h-screen overflow-y-hidden">

    <!-- Main content container -->
    <div class="w-full max-w-lg mx-auto text-center fade-in-up mt-40" id="main-content">

        <!-- Title with gradient -->

        <h1 class="text-6xl font-bold p-2 text-[#f9bc60]">
            ARTO
        </h1>


        <!-- Subtitle / Description -->
        <p class="mb-6 text-xl text-paragraph leading-relaxed font-light text-[#faeee7] duration-500 ease-in-out transform scale-100" id="blurb">
            Discover the future of stock predictions with ARTO's AI-driven insights.
        </p>

        <!-- Centered Search Bar -->
        <form id="search">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-[#f9bc60]" aria-hidden="true" fill="none" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="default-search"
                    class="block w-full p-4 pl-10 text-md text-[#0f0e17] border border-[#faeee7] rounded-lg bg-[#faeee7]"
                    placeholder="Enter stock symbols or company names..." required>
                <button type="submit" id="search-button"
                    class="text-white absolute right-2.5 bottom-2.5 bg-[#f9bc60] hover:bg-[#f9bc60]/60 font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
        </form>


    </div>


    
<div id="description" class="flex align-items justify-center pt-10 hidden">
    <div  class="bg-[#1a1922] p-8 rounded-xl shadow-lg w-5/6 border border-[#f9bc60]">
    <h1 id="description-title" class="text-[#faeee7] text-8xl">
        No info available.
    </h1>
    <div class="flex justify-end">
        <div class="flex flex-col">
            <p id="description-text-o" class="text-[#faeee7] text-lg"></p>
            <p id="description-text-h" class="text-[#00ffaa] text-lg"></p>
            <p id="description-text-l" class="text-[#ff5470] text-lg"></p>
            <p id="description-text-c" class="text-[#faeee7] text-lg"></p>
        </div>
    </div>
    </div>
</div>



<div class="grid grid-cols-3 p-2 ml-40 bg-main-background shadow-lg rounded-xl m-10 justify-center hidden" id="info">
    <div class="text-[#faeee7] bg-[#1a1922] p-6 mb-10 rounded-lg shadow-lg flex flex-col items-center justify-center align-items w-72 h-72">
        <h1 class="flex items-center justify-center text-[#faeee7] text-2xl mt-16">Sentiment Rating: </h1>
        <h1 id="sentiment" class="text-[#faeee7] text-4xl pt-4"></h1>
        <canvas id="myChart" class="w-full h-full"></canvas>
    </div>
    <div class="text-[#faeee7] bg-[#1a1922] p-6 mb-10 rounded-lg shadow-lg flex items-center justify-center w-72 h-72">
        <img id="hist" src=""></img>
    </div>
    <div style="flex-direction: column;" class="text-[#faeee7] bg-[#1a1922] p-6 mb-10 rounded-lg shadow-lg flex items-center justify-center w-72 h-72"
        id="headlines"></div>
    <div class="text-[#faeee7] bg-[#1a1922] p-6 rounded-lg shadow-lg flex items-center justify-center w-72 h-72"
        id="IT">
        <h1 class="text-xl pb-10">Insider Trading</h1>


    </div>
    <div class="text-[#faeee7] bg-[#1a1922] p-6 rounded-lg shadow-lg flex items-center justify-center w-72 h-72 text-2xl"
        id="regression">Predicted Close Price:</div>
    <div class="text-[#faeee7] bg-[#1a1922] p-6 rounded-lg shadow-lg flex items-center justify-center w-72 h-72"
        >
        <img id="big3" class="text-xl"></img>
    </div>
</div>

<div id="summary" class="flex justify-center pb-32 hidden">
    <div class="bg-[#1a1922] p-8 rounded-xl shadow-lg w-5/6 ">
        <p id="aigen" class="text-[#faeee7] text-lg">
            Loading...
        </p>
    </div>
</div>

    <!-- Footer -->
    <footer class="w-full fixed bottom-0 bg-[#0f0e17] text-white p-4 text-center">
        <p class="text-[#faeee7]">© 2023 ARTO. All rights reserved.</p>
    </footer>
    

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/homepage.js"></script>
    </body>
</html>
